pandas
python-dotenv
requests
fastapi
uvicorn
# FastAPI & Server
fastapi
uvicorn[standard]
python-multipart

# Pydantic
pydantic
pydantic-settings

# Data Processing
pandas

# AI/LLM
groq

# Email
aiosmtplib
email-validator

# Utils
python-dotenv
aiofiles
pydantic-settings
pydantic
pydantic[email]